@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
}

.container {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.game-box {
  position: relative;
  top: 5rem;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

.row {
  display: flex;
  gap: 0.05rem;
}

input {
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-size: 1.5rem;
  margin: 0.05rem;
}

header {
  font-family: "Lora", sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.layout {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  top: 23rem;
  right: 30rem;
}

.layout-row {
  display: flex;
  justify-content: center;
}

.alpha {
  height: 2rem;
  width: 2rem;
  border: 2px solid black;
  margin: 5px;
  text-align: center;
  padding-top: 3px;
}

h2 {
  font-family: "Lora", sans-serif;
  font-weight: 400;
}

.container h2 {
  cursor: pointer;
}

.guide {
  position: absolute;
  display: none;
  background-color: rgb(254, 142, 142);
  padding: 2rem;
  bottom: 13rem;
  left: 36%;
  width: 28rem;
  border-radius: 0.7rem;
}

p.instructions {
  margin-top: 1rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

h3.again {
  position: absolute;
  top: 38rem;
  left: 5rem;
  font-family: "Lora", sans-serif;
  cursor: pointer;
  display: none;
}

h3.lose {
  position: absolute;
  font-size: 1rem;
  top: 34rem;
  left: 3.4rem;
  font-family: "Lora", sans-serif;
  display: none;
}

h3.answer {
  position: absolute;
  font-size: 1rem;
  top: 35.5rem;
  left: 2.8rem;
  font-family: "Lora", sans-serif;
  color: dark;
}

#blue {
  color: rgb(61, 144, 233);
}

#green {
  color: rgb(75, 147, 75);
  margin-right: 3px;
}
