@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,600&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100%;
}

.container {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.game-box {
  position: relative;
  top: 5rem;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

.row {
  display: flex;
}

input {
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-size: 1.5rem;
}

header {
  font-family: 'Lora', sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.layout {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, 1fr); 
  top: 23rem;
  right: 30rem;
}

.layout-row {
  display: flex;
  justify-content: center;
}

.alpha {
  height: 2rem;
  width: 2rem;
  border: 2px solid black;
  margin: 5px;
  text-align: center;
  padding-top: 3px;
}

h2 {
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  cursor: pointer;
}

